# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# local configs and data
/.env
/data

# dependencies
node_modules

.DS_Store

npm-debug.log*

.idea
.vscode

# Ignore package-lock.json
package-lock.json
